.dashboard-container {
    display: grid;
    grid-template-columns: 300px auto;
    justify-self: center;
    height: 100vh;
}

.dashboard-menu {
    list-style: none;
}

.dashboard-sidebar {
    background-color: rgb(240, 240, 240);
    height: auto;
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.dashboard-body {
    /* background-image: url("../../images/banner9.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* mobile responsive */

@media screen and (max-width: 688px) {
    .dashboard-container {
        display: flex;
        flex-direction: column;
    }
}